/Estrutura de Dados - Quarta/Aula 4/Bubble/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Bubble/build/
/Estrutura de Dados - Quarta/Aula 4/Buble/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Buble/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoInsertionSort/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoInsertionSort/dist/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoInsertionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoSelectionSort/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoSelectionSort/dist/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoSelectionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoBubbleSort/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoBubbleSort/dist/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoBubbleSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/SelectionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/SelectionSort/build/
/Estrutura de Dados - Quarta/Aula 4/InsertionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/InsertionSort/build/
/Estrutura de Dados - Quarta/Aula 4/Exercicio2/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Exercicio2/build/
