/Estrutura de Dados - Quarta/Aula 4/Bubble/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Bubble/build/
/Estrutura de Dados - Quarta/Aula 4/Buble/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Buble/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoInsertionSort/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoInsertionSort/dist/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoInsertionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoSelectionSort/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoSelectionSort/dist/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoSelectionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoBubbleSort/build/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoBubbleSort/dist/
/Estrutura de Dados - Quarta/Aula 4/Prof Atividade/OrdenacaoBubbleSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/SelectionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/SelectionSort/build/
/Estrutura de Dados - Quarta/Aula 4/InsertionSort/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/InsertionSort/build/
/Estrutura de Dados - Quarta/Aula 4/Exercicio2/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Exercicio2/build/
/Estrutura de Dados - Quarta/Aula 4/Exercicio1/nbproject/private/
/Estrutura de Dados - Quarta/Aula 4/Exercicio1/build/
/Estrutura de Dados - Quarta/Aula 4/Exercicio1/dist/
/Orientada a Objetos - Sexta/Aula03/Exercicio2/nbproject/private/
/Orientada a Objetos - Sexta/Aula03/Exercicio2/build/
/Estrutura de Dados - Quarta/Aula 6/Winrar/BuscasBinariasIterativas_base/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/Winrar/Embaralhar/build/
/Estrutura de Dados - Quarta/Aula 6/Winrar/Embaralhar/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/Winrar/Ex_random_base/Ex_random/build/
/Estrutura de Dados - Quarta/Aula 6/Winrar/Ex_random_base/Ex_random/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/Winrar/MergePaises/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/Winrar/OrdenacaoQuickSortMediana3/build/
/Estrutura de Dados - Quarta/Aula 6/Winrar/OrdenacaoQuickSortMediana3/dist/
/Estrutura de Dados - Quarta/Aula 6/Winrar/OrdenacaoQuickSortMediana3/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/BuscasBinariasIterativas_base/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/Ex_random_base/Ex_random/build/
/Estrutura de Dados - Quarta/Aula 6/Ex_random_base/Ex_random/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/MergePaises/nbproject/private/
/Estrutura de Dados - Quarta/Aula 6/BuscasBinariasIterativas_base/build/
/Estrutura de Dados - Quarta/Aula 6/MergePaises/build/
/Orientada a Objetos - Sexta/Aula04/JavaApplication17/nbproject/private/
/Orientada a Objetos - Sexta/Aula04/ProjetoRevisao/nbproject/private/
/Orientada a Objetos - Sexta/Aula04/ProjetoRevisao/build/
/Estrutura de Dados - Quarta/Aula 8/Exemplo/Exercicio/build/
/Estrutura de Dados - Quarta/Aula 8/Exemplo/Exercicio/dist/
/Estrutura de Dados - Quarta/Aula 8/Exemplo/Exercicio/nbproject/private/
/Avançados em Sistemas - Terça/projeto_SMP/node_modules/